<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flexi_Serial_Terminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Flexi_Serial_Terminal.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="P1_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P2_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P3_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P4_Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="P1_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="P2_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="P3_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="P4_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="IndividualPollInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="C1_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C2_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C3_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C4_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C5_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C6_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="C7_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="CC1_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="CC2_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="CC3_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="CC1_Param" serializeAs="String">
                <value />
            </setting>
            <setting name="CC2_Param" serializeAs="String">
                <value />
            </setting>
            <setting name="CC3_Param" serializeAs="String">
                <value />
            </setting>
        </Flexi_Serial_Terminal.Properties.Settings>
    </userSettings>
</configuration>